# Ambiente virtual
.venv/
venv/
env/

# Base de dados
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
staticfiles/
media/
*.log

# Variáveis de ambiente
.env

# IDEs e ficheiros locais
.vscode/
.idea/
.claude/
CLAUDE.md
